@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: #05070D;
  color: #FFFFFF;
  max-width: 100vw;
  overscroll-behavior-y: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
}

.snap-y-mandatory {
  scroll-snap-type: y mandatory;
}

.snap-start {
  scroll-snap-align: start;
}
